:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*.95);
    background-color: black;
}

body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#board{
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

.cell.x,
.cell.o{
    cursor: not-allowed;
}

#board.x .cell:not(.x):not(.o):hover{
    opacity: 0.5;
}


.cell.x::before,
.cell.x::after,
#board.x .cell:not(.x):not(.o):hover::before,
#board.x .cell:not(.x):not(.o):hover::after{
    position: absolute;
    content: '';
    width: calc(var(--mark-size)*.1);
    height: var(--mark-size);
    background-color: white;
}

.cell.x::after,
#board.x .cell:not(.x):not(.o):hover::after{
    transform: rotate(-45deg);
}

.cell.x::before,
#board.x .cell:not(.x):not(.o):hover::before{
    transform: rotate(45deg);
}

#board.o .cell:not(.x):not(.o):hover{
    opacity: 50%;
}

.cell.o::before,
.cell.o::after,
#board.o .cell:not(.x):not(.o):hover::before,
#board.o .cell:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
#board.o .cell:not(.x):not(.o):hover::before{
    width: calc(var(--mark-size)*.9);
    height: calc(var(--mark-size)*.9);
    background-color: white;
}

.cell.o::after,
#board.o .cell:not(.x):not(.o):hover::after{
    width: calc(var(--mark-size)*0.7);
    height: calc(var(--mark-size)*0.7);
    background-color: black;
}

.cell.x.pulsate{
    animation: pulse 2s infinite;
    border: none;
}

.cell.o.pulsate{
    animation: pulse 2s infinite;
    border: none;
}

@keyframes pulse {
    0%{
        transform: scale(0.8);
    }

    70%{
        transform: scale(1);
    }

    100%{
        transform: scale(0.8);

    }
}


.cell.x.win{
    animation: blink 2s infinite;
    color: turquoise;
}

.cell.x.win::before,
.cell.x.win::after{
    background-color: turquoise;
}



.cell.o.win{
    animation: blink 2s infinite;
    color: turquoise;
}

.cell.o.win::before{
    background-color: turquoise;
}

@keyframes blink {
    0%{
        opacity: 120%;
    }

    50%{
        opacity: 40%;
    }

    100%{
        opacity: 120%;
    }
}




#options{
    display: flex;
    align-items: baseline;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 30px;
}

#modes{
    width: 0;
    height: 0;
}

#modes::before{
    width: 100px;
    height: 50px;
    content:'Vs Pc';
    color: black;
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#modes:hover::before{
    background-color: #1e293b;
    color: #fff;
}

#modes:checked::before{
    content: 'Vs P';
    color: green;
}

/* CSS */
.restart {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.restart:hover {
    background-color: #1e293b;
    color: #fff;
}

.restart.win{
    --offset: 3px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.restart.win::before{
    content: '';
    background: conic-gradient(transparent 270deg,rgb(16, 72, 66),transparent);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s infinite;
}

.restart.win::after{
    content: "Restart";
    align-content: center;
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);

}

@keyframes rotate{
    from{
        transform: translate(-50%,-50%) scale(1.4) rotate(0turn);
    }
    to{
        transform: translate(-50%,-50%) scale(1.4) rotate(1turn);
    }
}